*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium';
    box-sizing: border-box;
}

body{
    background-image:url("https://image.freepik.com/free-vector/house-blueprint_23-2147513507.jpg") ;
    display: flex;
    min-height: 100vh;
}

.formulario > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

form{
    margin: auto;
    width: 50%;
    max-width: 1500px;
    background: aliceblue;
    padding: 15px;
    border: 10px solid black;
    border-radius: 20px
}

h2,h1{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}
input[type="submit"]{
    background: rgb(18, 16, 139);
    border: 5px solid black;
    color: bisque;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 0;
}

input[type="submit"]:hover {
    opacity: 1;
}

input[type="submit"]:active{
    transform: scale(0.5);
    color: black;
}

input[type="radio"]:active {
    transform: scale(2);
    color: black;
}
label[for="masculino"]{
    color: blue;
}

label[for="femenino"]{
    color: red;
}

label{
    align-content: center;
    font-size: 20px;
}

@media (max-width:700px){
    form{
        width: 75%;
    }
}

@media (max-width:500px){
    form{
        width: 90%;
    }
}